<div class='movie-detail-main'>
    <section class="movieDetailsDesktopLeftSide">
        <div class="top">

            <h2>{{movie.title}}</h2>
            <h5>{{year}}</h5>
        </div>
        <img class="movie-detail-img" src="https://image.tmdb.org/t/p/w500{{movie.poster_path}}" alt="">

        <div class="cast-info">
            <span><span>Director: </span>{{director}}</span>
        </div>
    </section>
    <section class="movieDetailsDesktopRightSide">
        <div class="info-box">

            <section>
                <h5>Genres:</h5>
                <ul class="genres">
                    {{#each movie.genres}}
                    <p>{{this.name}}</p>
                    {{/each}}
                </ul>
            </section>

            <section>
                <h5>Run-time:</h5>
                <div class="movie-runtime">
                    <span>{{movie.runtime}}<span> minutes</span></span>
                </div>
            </section>

            <section>
                <h5>Rating:</h5>
                <div class='rating'>
                    <span>{{movie.vote_average}}</span>
                    <img src="/images/star.png" alt="star">
                </div>
            </section>

        </div>

        <div class="movie-plot">
            <p>Synopsis:</p>
            <span>{{movie.overview}}</span>

        </div>

        <div class="movie-detail-buttons">

            <form class='detail-buttons-wrapper' action='/private/favorites/seen/{{movie.id}}' method='GET'>
                {{#if movie.seenMovie }}
                <button class="add-button">Add to "Seen"</button>

                {{else}}
                <button class="remove-button remove">Remove from "Seen"</button>
                {{/if}}
            </form>

            <form class='detail-buttons-wrapper' action='/private/favorites/next/{{movie.id}}' method='GET'>
                {{#if movie.movieToSee}}
                <button class="add-button">Add to "Want to See"</button>
                {{else}}
                <button class="remove-button remove">Remove from "Want to See"</button>
                {{/if}}
            </form>

        </div>
    </section>

    <div class="background"></div>
</div>