<img src="https://image.tmdb.org/t/p/w500{{movie.poster_path}}" alt="">
<h2>{{movie.title}}</h2>
<h5>{{movie.release_date}}</h5>

<ul>
    {{#each movie.genres}}
    <li>{{this.name}}</li>
    {{/each}}
</ul>

<div class="movie-info">
<span>{{movie.runtime}}</span>
<span>{{movie.vote_average}}</span>
</div>

<div class="movie-plot">
    <span>Plot</span>  <br>
<span>{{movie.overview}}</span>

</div>

<div class="cast-info">
<span>{{director}}</span>
{{!-- <span>Writer</span> --}}
</div>

<div class="movie-detail-buttons">
<button>Add to Seen</button>
<button>Add to Want to Watch</button>




</div>
