<section class="header">
    <a href="/private/settings">Settings</a>  {{!-- we want this to float right --}}

    <div class="profile-pic">
        <img src="https://www.skylightsearch.co.uk/wp-content/uploads/2017/01/Hadie-profile-pic-circle-1.png" alt="profile-pic">
    </div>

    <div class="bio">
        <h2>{{user.username}}</h2>
        <p>
            6891 minutes total watch time
        </p>

        <p>
            {{user.quote}}
        </p>
    </div>
</section>

<section class="main">
    <div class="list">
        <h2>Lists</h2>
        <section class="seen-movies-container">
            {{#each seenMovies}}
            <a href="/private/movieDetail/{{this.data.id}}">
                <p>{{this.data.title}}</p>
                </a>
            {{/each}}
        </section>

        
        <section class="movies-to-see-container">         
            {{#each moviesToSee}}
                <a href="/private/movieDetail/{{this.data.id}}">
                <p>{{this.data.title}}</p>
                </a>
            {{/each}}
        </section>
       
    </div>
</section>