<div class="profile-page-wrapper">
    <div class="desktopFlexColumn">

        <div class="settings-and-profile-pic-wrapper">
            <div class="settings-icon-wrapper">
                <a class="a-settings-icon" href="/private/settings"><img class="settings-icon"
                        src="/images/settings-icon.png" alt="back-button"></a> {{!-- we want this to float right --}}
            </div>
            <div class="profile-pic">
                <img class="profile-pic-img" src="/images/goku2.jpg" alt="profile-pic">
            </div>
            <h2 class="profile-name">{{user.username}}</h2>
            <hr>
        </div>

        <section class="quoteSection">
            <div class="profile-info-box">
                {{!-- <p>
                    6891 minutes total watch time
                </p> --}}
                <h4 class="favoriteQuote">Favorite quote:</h4>
                <p class="quote-profile">
                    {{#if user.quote}}
                    <p>{{user.quote}}</p>
                    {{else}}
                    <p style='font-style: italic; color: grey'>Click the settings icon to add a quote!</p>
                    {{/if}}
                </p>
            </div>
        </section>
        <hr>
    </div>
    <section class="list-wrapper">
        <div class="list">
            <p class="list-name-title">Movies I've watched: </p>
            <section class="seen-movies-container">
                {{#each seenMovies}}
                <a href="/private/movieDetail/{{this.data.id}}">
                    <p class="list-info">{{this.data.title}}</p>
                </a>
                {{else}}
                <p style='font-style: italic; color: grey'>Movies will display here once added to your list.</p>
                {{/each}}
            </section>


            <p class="list-name-title">Movies I want to see: </p>
            <section class="movies-to-see-container">
                {{#each moviesToSee}}
                <a href="/private/movieDetail/{{this.data.id}}">
                    <p class="list-info">{{this.data.title}}</p>
                </a>
                {{else}}
                <p style='font-style: italic; color: grey'>Movies will display here once added to your list.</p>
                {{/each}}
            </section>

        </div>
    </section>
</div>

<div class='background-image-profile'></div>